nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li {
  list-style: none;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 0.5rem;
}
